# Core Framework
streamlit

# Image Processing
opencv-python-headless
numpy
Pillow
pillow-avif-plugin

# OCR Engine
easyocr

# Environment and Logging
python-dotenv
requests
logging

# Deep Learning Models
torch
transformers
sentencepiece
protobuf
safetensors

# Translation Support
googletrans

# Utilities
tqdm

regex
